

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  width: 20vmin;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  pointer-events: none;
  text-align: left;
}



h3{
  color: #ff5910;
  font-size: 14px;
  text-align: center;
}

h1{
  font-size: 16px;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column{
  border: 1px solid gray;
  margin: 0.5cm;
  border-radius: 10px;
  width: 220px;
  background-color: #f2f7ff;
  padding: 0,5cm;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}